body {
  background-color: #000;
}

.divider {
  background-color: #eee;
}
#intro {
  background-image: url("../img/intro.jpg");
  height: 100vh;
}



#book {
  background-image: url("../img/book.jpg");
  height: 300px;
  background-size: cover;
}
